header{
    display: flex;
}
body {
    background-color: #343a40;
    margin-right: 150px;
    margin-left: 150px;
}
.otjevi{
    display:flex;
    margin-left: 750px;
}
a{
    text-decoration: none;
    color: white;
}
input{
    color: red;
}
@media (orientation: portrait){
    main{
        width: 500px;
    }
    footer{
        width: 500px;
    }
    .a1{
        width: 110px;
        height: 130px;
    }
}
